---
title: Bacon
---

<h1>A demo of <a href="https://github.com/raimohanska/bacon.js">bacon.js</a> a functional reactive programming library for JavaScript</h1>
<h2>By <a href="http://twitter.com/philip_roberts">Philip Roberts</a></h2>
<h3>Hint: tilt your device, then <a href="docs/bacon_demo.js.html">read the annotated source code</a></h3>



<div class=bacon>
  <img src="http://upload.wikimedia.org/wikipedia/commons/2/2e/500gfpx-Bacon.png" width=50 height=50>
</div>
